@model OpenSchoolLibrary.Models.BooksViewModels.AddNewBookViewModel

@{
    ViewBag.Title = "Add a New Book";
}

<h2>Add a New Book</h2>
<hr />

<form class="add-book" action="/books/addnewbook" method="post">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @if (Model.Errors.Any())
        {
            <ul class="text-danger">
                @foreach(var e in Model.Errors)
                {
                    <li>@e</li>
                }
            </ul>
        }
        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Title:</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="Title" class="form-control" required placeholder="Title is Required.">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Subtitle:</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="SubTitle" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Author:</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="Author" class="form-control" required placeholder="Author is Required.">
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Condition:</label>
            </div>
            <div class="col-md-10">
                <select name="Condition" class="form-control">
                    @foreach (var c in Model.Conditions)
                    {
                        <option value="@c.ToString()">@c.ToString()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Catalog ID:</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="CatalogID" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Genre:</label>
            </div>
            <div class="col-md-10">
                <select name="GenreIDs" multiple class="form-control">
                    @foreach(var g in Model.Genres) {
                    <option value="@g.ID">@g.Name</option>
                    }
                </select>
            </div>
        </div>

        <input type="hidden" name="ISBN" value="@Model.ISBN"/>
        <input type="hidden" name="ISBN13" value="@Model.ISBN13"/>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


